.container
  h1.text-center
    | Puzzle Game
   
  .jumbotron
    .puzzle.center-block
      .btn-group.btn-group-justified role="group"
        .btn-group role="group"
          button class="btn btn-success btn-start"
            span.glyphicon.glyphicon-play-circle
            | &nbsp;Iniciar
        .btn-group role="group"
          button class="btn btn-default"
            | Cliques: 
            span.badge.total
      .pieces